# Byte-compiled
__pycache__/

# Folders for personel use only
Data/
Scripts/
Detection/test_script.ipynb
Detection/inference_script.ipynb
Detection/Output/
Visualization/viz_script.ipynb
ShellExecuter.ipynb
